In [53]:
import pandas as pd
import json

In [54]:
df = pd.read_csv('alturas_hidrometricas.csv')
df

,seriesid,sitecode,estacion_nombre,estacion_tabla,red_nombre,varid,var_nombre,procid,proc_nombre,unitid,unit_nombre,from_date,to_date,obs_count,lat,lon
0,8,8,Andresito,alturas_prefe,escalas Prefectura Nacional,2,Altura hidrométrica,1,medición directa,11,metros,1984-01-01T06:00:00,2025-08-26T00:00:00,15671,-25.583333,-53.983333
1,9,9,Puerto Iguazú,alturas_prefe,escalas Prefectura Nacional,2,Altura hidrométrica,1,medición directa,11,metros,1966-01-01T07:00:00,2025-08-26T00:00:00,19656,-25.583333,-54.566667
2,10,10,Libertad,alturas_prefe,escalas Prefectura Nacional,2,Altura hidrométrica,1,medición directa,11,metros,1931-01-01T07:00:00,2025-08-26T00:00:00,27073,-25.916679,-54.621134
3,11,11,El Dorado,alturas_prefe,escalas Prefectura Nacional,2,Altura hidrométrica,1,medición directa,11,metros,1931-03-01T07:00:00,2025-08-26T00:00:00,23967,-26.383333,-54.700000
4,12,12,Libertador,alturas_prefe,escalas Prefectura Nacional,2,Altura hidrométrica,1,medición directa,11,metros,1956-03-01T07:00:00,2025-08-26T00:00:00,22434,-26.800000,-55.033333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,37577,7385,Tecka - Estancia Niedo,sat2,RHN - SAT,2,Altura hidrométrica,1,medición directa,11,metros,2024-09-13T16:00:00,2025-08-26T12:00:00,2009,-43.349722,-70.879722
416,37578,7386,Tercero - Villa María,sat2,RHN - SAT,2,Altura hidrométrica,1,medición directa,11,metros,2024-09-13T16:00:00,2025-08-26T12:00:00,8114,-32.421944,-63.244722
417,37580,7387,Ternero - Cuesta del Ternero,sat2,RHN - SAT,2,Altura hidrométrica,1,medición directa,11,metros,2025-06-12T16:00:00,2025-08-26T11:00:00,766,-41.950556,-71.375278
418,37581,7388,Tunuyán - Las Catitas,sat2,RHN - SAT,2,Altura hidrométrica,1,medición directa,11,metros,2024-09-13T16:00:00,2025-08-26T12:00:00,1859,-33.307222,-68.061389
419,37594,7392,Vacas - Punta de Vacas,sat2,RHN - SAT,2,Altura hidrométrica,1,medición directa,11,metros,2024-09-18T16:00:00,2025-08-26T08:00:00,1985,-32.846944,-69.762500

In [55]:
df.drop(columns=["estacion_nombre", "estacion_tabla", "red_nombre", "varid", "var_nombre", "procid", "proc_nombre", "unitid", "unit_nombre", "obs_count"], inplace=True)
df["estacion_id"] = df["seriesid"].astype(str) + "-" + df["sitecode"].astype(str)
df.drop(columns=["seriesid", "sitecode"], inplace=True)
otras_columnas = [col for col in df.columns if col != 'estacion_id']
nueva_lista_columnas = ['estacion_id'] + otras_columnas
df = df[nueva_lista_columnas]
df

,estacion_id,from_date,to_date,lat,lon
0,8-8,1984-01-01T06:00:00,2025-08-26T00:00:00,-25.583333,-53.983333
1,9-9,1966-01-01T07:00:00,2025-08-26T00:00:00,-25.583333,-54.566667
2,10-10,1931-01-01T07:00:00,2025-08-26T00:00:00,-25.916679,-54.621134
3,11-11,1931-03-01T07:00:00,2025-08-26T00:00:00,-26.383333,-54.700000
4,12-12,1956-03-01T07:00:00,2025-08-26T00:00:00,-26.800000,-55.033333
...,...,...,...,...,...
415,37577-7385,2024-09-13T16:00:00,2025-08-26T12:00:00,-43.349722,-70.879722
416,37578-7386,2024-09-13T16:00:00,2025-08-26T12:00:00,-32.421944,-63.244722
417,37580-7387,2025-06-12T16:00:00,2025-08-26T11:00:00,-41.950556,-71.375278
418,37581-7388,2024-09-13T16:00:00,2025-08-26T12:00:00,-33.307222,-68.061389
419,37594-7392,2024-09-18T16:00:00,2025-08-26T08:00:00,-32.846944,-69.762500

In [56]:
df["to_date"].value_counts()

to_date
2025-08-26T08:00:00    148
2025-08-26T12:00:00     81
2025-08-26T00:00:00     78
2025-08-26T11:00:00     36
2025-08-26T09:00:00     16
2025-08-30T03:00:00     12
2025-08-26T10:00:00      9
2025-08-26T04:00:00      7
2025-08-25T20:00:00      6
2025-08-26T11:45:00      6
2025-08-26T11:45:10      5
2025-08-26T12:30:10      3
2025-08-26T10:45:00      2
2025-08-26T08:45:10      1
2025-08-26T11:45:11      1
2025-08-26T01:00:00      1
2025-08-26T05:00:00      1
2025-08-25T16:00:00      1
2025-08-26T06:00:00      1
2025-08-25T04:00:00      1
2025-08-26T12:45:00      1
2025-08-26T12:35:00      1
2025-08-26T12:50:00      1
2025-08-26T13:00:00      1
Name: count, dtype: int64

## Descartando los rios que no sirven en base a los datos que sacamos de C/U

In [57]:
lista_rios = ['10-10', '11-11', '12-12', '13-13', '14-14', '15-15', '16-16',
    '17-17', '18-18', '19-19', '20-20', '21-21', '22-22', '23-23',
    '24-24', '25-25', '26-26', '27-27', '28-28', '29-29', '29438-5894',
    '30-30', '31-31', '31940-6406', '31981-6426', '32-32',
    '32008-6421', '32023-6461', '32024-6459', '32025-2846',
    '32027-6423', '32299-6447', '32305-6480', '32597-6380',
    '32598-6391', '32645-6429', '32656-6428', '32666-6430',
    '32704-6540', '32711-6544', '32742-6427', '32851-6548',
    '32862-6516', '32868-6439', '33-33', '33022-6481', '33061-6659',
    '33062-6582', '33116-6456', '33124-6479', '33216-6664',
    '33231-6615', '33259-6422', '33400-6706', '33427-6652',
    '33433-6382', '33461-6457', '33502-6535', '33675-6383',
    '33676-6386', '33839-6388', '33882-6505', '33886-6519',
    '33974-6555', '34-34', '34035-6449', '34087-6651', '34115-6698',
    '34145-6595', '35-35', '36-36', '37-37', '38-38', '39-39', '40-40',
    '41-41', '42-42', '43-43', '44-44', '45-45', '46-46', '48-48',
    '49-49', '50-50', '51-51', '53-53', '54-54', '57-57', '58-58',
    '60-60', '61-61', '63-63', '65-65', '66-66', '6692-2147',
    '6695-2184', '6697-2188', '6718-2196', '6732-2149', '6744-2221',
    '6756-2199', '6778-2165', '6785-2122', '6794-2178', '68-68',
    '6804-2223', '6806-2198', '6811-2213', '6829-2204', '6840-2183',
    '6845-2136', '6865-2175', '6874-2160', '6876-2180', '6897-2150',
    '69-69', '6903-2151', '6918-2194', '6924-2181', '6950-2133',
    '70-70', '71-71', '72-72', '73-73', '7355-2355', '74-74', '75-75',
    '77-77', '78-78', '79-79', '8-8', '80-80', '81-81', '8230-2607',
    '8233-2608', '8242-2606', '8312-2671', '8314-2672', '84-84',
    '86-86', '9-9', '9197-2824', '9494-2844', '9542-2813', '9549-2809',
    '99-99', '6746-2123', '6800-2197', '6807-2158', '6929-2135',
    '6952-2137', '9192-2732', '9410-2823']
len(lista_rios)

153

In [58]:
# Filtramos el DataFrame
df_filtrado = df[df["estacion_id"].isin(lista_rios)]

# Mostramos cuántas filas quedaron y estadísticas descriptivas
print(f"Filas originales: {len(df)}")
print(f"Filas después del filtrado: {len(df_filtrado)}")
print(f"Ríos únicos restantes: {df_filtrado['estacion_id'].nunique()}")
print("\nEstadísticas descriptivas:")
print(df_filtrado.describe(include='all'))

Filas originales: 420
Filas después del filtrado: 153
Ríos únicos restantes: 153

Estadísticas descriptivas:
       estacion_id            from_date              to_date         lat  \
count          153                  153                  153  153.000000
unique         153                   70                   10         NaN
top            8-8  2023-02-07T20:00:00  2025-08-26T00:00:00         NaN
freq             1                   28                   71         NaN
mean           NaN                  NaN                  NaN  -32.016268
std            NaN                  NaN                  NaN    5.737962
min            NaN                  NaN                  NaN  -51.921667
25%            NaN                  NaN                  NaN  -34.449444
50%            NaN                  NaN                  NaN  -31.331944
75%            NaN                  NaN                  NaN  -27.572000
max            NaN                  NaN                  NaN  -22.377500

               lon
count   153.000000
unique         NaN
top            NaN
freq           NaN
mean    -61.549031
std       4.930493
min     -72.106389
25%     -64.767222
50%     -59.649718
75%     -58.244074
max     -53.933149

In [64]:
df_filtrado = df_filtrado.reset_index(drop=True)

df_filtrado

,estacion_id,from_date,to_date,lat,lon
0,8-8,1984-01-01T06:00:00,2025-08-26T00:00:00,-25.583333,-53.983333
1,9-9,1966-01-01T07:00:00,2025-08-26T00:00:00,-25.583333,-54.566667
2,10-10,1931-01-01T07:00:00,2025-08-26T00:00:00,-25.916679,-54.621134
3,11-11,1931-03-01T07:00:00,2025-08-26T00:00:00,-26.383333,-54.700000
4,12-12,1956-03-01T07:00:00,2025-08-26T00:00:00,-26.800000,-55.033333
...,...,...,...,...,...
148,33427-6652,2023-02-07T20:00:00,2025-08-26T00:00:00,-22.431111,-64.737222
149,33061-6659,2023-02-07T20:00:00,2025-08-26T08:00:00,-26.407778,-58.359167
150,33216-6664,2023-02-09T08:00:00,2025-08-26T08:00:00,-30.627500,-57.982778
151,34115-6698,2023-02-07T20:00:00,2025-08-26T08:00:00,-35.088056,-60.108889
152,33400-6706,2023-02-07T18:00:00,2025-08-26T11:00:00,-46.554167,-71.639722